[submodule "vim/bundle/jellybeans"]
	path = vim/bundle/jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/bundle/smart-tabs"]
	path = vim/bundle/smart-tabs
	url = git://github.com/vim-scripts/Smart-Tabs.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/latex-suite"]
	path = vim/bundle/latex-suite
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/zenburn"]
	path = vim/bundle/zenburn
	url = git://github.com/jnurmine/Zenburn.git
[submodule "vim/bundle/texindent"]
	path = vim/bundle/texindent
	url = git://github.com/vim-scripts/tex.vim--Tanzler.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
